
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8cDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v6/-hIF1G4AVCFVlMk0DdtnJQLUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
@font-face {
  font-family: 'Monofett';
  font-style: normal;
  font-weight: 400;
  src: local('Monofett'), url(https://fonts.gstatic.com/s/monofett/v6/BezoWS-9nng_g31KmAteQ3YhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}

#nav{
	background-color: grey;
	font-family: Poiret One; 
	font-size: 20px;
}

#nav_wrapper{
	width:625px;
	margin: 0 auto;
	text-align: left;
}

#nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#nav ul li{
	display: inline-block;
}

#nav ul li:hover{
	background-color: #333;
}

#nav ul li a,visited{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#nav ul li a:hover{
	color: #ccc;
	text-decoration: none;
}
#nav ul li:hover ul{
	display: block;
}
#nav ul ul{
	display: none;
	position: absolute;
	background-color: grey;
}
#nav ul ul li{
	display: block;
}
